#![enable(implicit_some)]
(
    name: "Earth",
    description: "Earth, Moon and artificial satellites.",
    time: "J2000",
    simulation_scale: 1,
    focus: "399",
    bodies: [
        (
            source: "major_bodies/10",
        ),
        (
            source: "major_bodies/399",
        ),
        (
            source: "other_satellites/301",
        ),
    ]
)