#![enable(implicit_some)]
(
    name: "Light test",
    description: "PBR test to ensure physical light intensities are producing the expected results",
    time: "J2000",
    simulation_scale: 0,
    bodies: [
        (
            name: "Candle",
            source: "artificial/candle",
            pos: [0, 0, 1],
        ),
        (
            name: "Disk",
            source: "artificial/disk",
            pos: [0, 0, 0],
        )
    ],
)